extends layout

block content
  h1(style='margin-top:100px') Welcome in, motorcycle friend.

  p Motorcycles and Accessories is all about connecting the right customer with the right products. Our customers are able to make their own listings and purchase items listed by other users. Feel free to browse our current selections on the left, or make your own listings today. 
  



