doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

form(method='POST' action='')
  h1 Login
  div.form-group
    label(for='username') Username:
    input#username.form-control(type='text', placeholder='Username' name='username' style='max-width:250px' required='true' value=(undefined===user ? '' : user.username ))
    label(for='password') Password:
    input#password.form-control(type='password', placeholder='Password' name='password' style='max-width:250px' required='true' value=(undefined===user ? '' : user.password ))
    button.btn.btn-secondary(type='submit') Login

form(method='GET' action="/users/signup") 
    button(type="submit" value="Login" class="btn btn-secondary") Signup

 if errors
   ul
    for error in errors
      li!= error.msg
